$body-font-family: 'Rubik', serif;
$font-size-root: 16px;
$headings: (
  'h3': (
    'line-height': 1.185em,
  ),
  'h5': (
    'line-height': 1.185em,
  ),
);
$btn-text-transform: unset;
$btn-font-weight: 400;
