@tailwind base;
@tailwind components;
@tailwind utilities;

.ms-btn {
  width: 133px;
  height: 48px !important;
  position: relative;
  z-index: 1;
}
.ms-btn:before {
  content: "";
  position: absolute;
  top: 0;
  width: 133px;
  height: 48px;
  border: 1px solid #d2d2d2;
}
.ms-btn:hover {
  border: none;
}
.ms-btn:hover:after,
.ms-btn:hover:before {
  border-image-slice: 1;
  border-image-source: linear-gradient(45deg, #f25022, #7fba00, #00a4ef, #ffb900);
}
.ms-btn:hover:before {
  border-left: 1px solid;
  border-top: 1px solid;
}
.ms-btn:hover:after {
  border-right: 1px solid;
  border-bottom: 1px solid;
}
.ms-btn .anim-block {
  width: 133px;
  height: 48px;
  position: absolute;
  top: 0;
  z-index: 3;
}
.ms-btn .anim-block:after,
.ms-btn .anim-block:before {
  position: absolute;
}
.ms-btn .anim-block:before {
  top: 0;
  right: 0;
  border-left: 1px solid #d2d2d2;
  border-top: 1px solid #d2d2d2;
}
.ms-btn .anim-block:after {
  bottom: 0;
  left: 0;
  border-right: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
}
.ms-btn .anim-block:hover:after,
.ms-btn .anim-block:hover:before {
  content: "";
  -webkit-animation: ms-keyframes 0.3s ease-in-out 0s forwards;
  animation: ms-keyframes 0.3s ease-in-out 0s forwards;
}
@-webkit-keyframes ms-keyframes {
  0% {
    height: 48px;
    width: 133px;
  }
  36% {
    height: 0;
    width: 133px;
  }
  99% {
    content: "";
  }
  to {
    content: none;
    height: 0;
    width: 0;
  }
}
@keyframes ms-keyframes {
  0% {
    height: 48px;
    width: 133px;
  }
  36% {
    height: 0;
    width: 133px;
  }
  99% {
    content: "";
  }
  to {
    content: none;
    height: 0;
    width: 0;
  }
}

.bg-rainbow,
.hover\:bg-rainbow:hover {
  background: linear-gradient(135deg, #ffb900, #7fba00, #00a4ef, #f25022);
}
